html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #E4B242;
}

@font-face {
    font-family: "henriette";
    src: url("assets/henriette_black.woff") format('woff');
}

.hero {
    position: relative;
    width: 100%;
    height: 615px;
    background-image: url(assets/hero-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.hero__text {
    font-family: "henriette";
    text-align: right;
    max-width: 60%;
    padding-top: 140px;
}

.hero__croc {
    margin: 0;
    font-size: 115px;
    line-height: 90px;
    color: #E4B242;
}

.hero__browse {
    margin: 0;
    font-size: 48px;
    line-height: 48px;
    color: white;
}

.hero__bruno {
    margin: 0;
    font-size: 80px;
    color: #E4B242;
}

.content-container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

.content {
    font-family: "henriette";
    display: flex;
}

.content__left {
    font-size: 40px;
    flex-basis: 50%;
    padding: 0 40px 0 40px;
    text-align: center;
    color: #7B0000;
}

.content__right {
    font-size: 20px;
    flex-basis: 50%;
    padding: 0 40px 0 40px;
    border-left: 4px solid #7B0000;
}

.hero__brunopic {
    max-width: 440;
    max-height: 390;
}

.content__read {
    font-size: 40px;
    font-family: "henriette";
    text-align: center;
    color: #7B0000;

}

.body__chapter {
    font-size: 50px;
    font-family: "henriette";
    color: #7B0000;
    border-bottom: 4px solid #7B0000;
}

.body__top {
    font-size: 20px;
    font-family: "henriette";
    padding: 40px 0 40px 0;
}

.body__mid {
    font-size: 20px;
    font-family: "henriette";
    background-color: #141414;
    max-width: 100%;
    color: #E4B242;
    padding: 40px 0 40px 0;